@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    scroll-behavior: smooth;
}

/* #050571 dark blue */
/* #00d8f0 light blue */

body {
    font-family: 'Poppins', sans-serif;
    background: url('../vectors/landing/bg.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

::-webkit-scrollbar {
    width: 10px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #050571;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00d8f0;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* NAVBAR */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav {
    width: 80vw;
    min-height: 10vh;
    padding: 12px;
    margin: 10px auto;
    border-radius: 2vw;
    color: white;
    border: 3px solid #050571;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bpa_logo {
    margin: 10px auto;
    border-radius: 50%;
}

nav a {
    color: #050571;
    font-weight: bolder;
    text-decoration: none;
    padding: 12px;
    border-radius: 2vw;
    border: 1px solid transparent;
}

nav a:hover {
    border: 1px solid #050571;
    background-color: #050571;
    color: white;
}

#nav2 {
    display: none;
    width: 80vw;
    padding: 12px;
    margin: 0 auto;
    border-radius: 2vw;
    color: white;
    border: 3px solid #050571;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#nav2 a {
    color: #050571;
    font-weight: bolder;
    text-decoration: none;
    padding: 12px;
    border-radius: 2vw;
    border: 1px solid transparent;
}

#nav2 a:hover {
    border: 1px solid #050571;
    background-color: #050571;
    color: white;
}

.getstarted {
    border: 1px solid #050571 !important;
    background-color: #050571;
    color: white !important;
    padding: 12px;
    text-decoration: none;
    border-radius: 2vw;
}

#hamburger {
    background: transparent;
    border: none;
    display: none;
    cursor: pointer;
}

#hamburger img {
    width: 50px;
    height: 50px;
}

main {
    min-height: 100vh;
}

main h1 {
    margin: 0 auto;
    text-align: center;
    color: #00d8f0;
    background-color: #050571;
    border-radius: 2vw;
    padding: 12px;
    max-width: 50vw;
}

main h2 {
    margin: 0 auto;
    width: 80vw;
    text-align: center;
    color: #050571;
}

.s1 {
    background-color: white;
    padding: 12px;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    gap: 20px;
    border: 3px solid #050571;
}

.s1 h1 {
    background: none;
    color: #050571;
    font-size: 30px;
}

.s1 p {
    text-align: justify;
    margin: 10px 30px;
}

.s1 span{
    color: #050571;
    font-weight: bolder;
}

.contactlink {
    color: #050571;
    background: #00d8f0;
    padding: 10px;
    border-radius: 2vw;
    text-decoration: none;
}

.s2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    gap: 20px;
    line-height: 2;
}

.s2 img {
    width: 30vw;
    height: auto;
    border-radius: 2vw;
}

.a1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    gap: 20px;
    background-color: #050571;
    color: white;
    padding: 20px;
    border-radius: 2vw;
    text-align: justify;
}

.a1 h1, .a2 h1, .aa2 h1{
    font-size: 30px;
}
.a1 h3, .a2 h3{
    font-size: 20px;
}
.a1 h5, .a2 h5{
    font-size: 18px;
}

.a2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.aa2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    gap: 20px;
    background-color: #050571;
    color: white;
    padding: 20px;
    border-radius: 2vw;
    text-align: justify;
}

.servicesprovided {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: 15vw;
    height: 40vh;
    background: white;
    padding: 12px;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border: 2px solid black;
}

.card img {
    width: 10vw;
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    gap: 20px;
}

.languages img {
    width: 10vw;
}

footer {
    background: #050571;
    min-height: 50vh;
    border-radius: 2vw 2vw 0 0;
    padding: 12px;
    /* border: 3px solid #00d8f0; */
    border-bottom: 0;
    display: grid;
    grid-template-areas:
        'v1 v2 v3 v5 v5'
        'v6 v6 v6 v6 v6';
    gap: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

.v1 {
    grid-area: v1;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: basline;
    padding: 0 12px;
}

.v2 {
    grid-area: v2;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 0 12px;
}

.v3 {
    grid-area: v3;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 0 12px;
}

.v5 {
    grid-area: v5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 0 12px;
}

.v5 img {
    width: 40px;
    height: auto;
}

.socials {
    display: flex;
    gap: 10px;
}

.v5 .logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.v6 {
    padding: 0 12px;
    grid-area: v6;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

@media only screen and (max-width: 850px) {
    main h1 {
        max-width: 90vw;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
    }

    .bpa_logo {
        margin: 0;
    }

    .s1 {
        flex-direction: column;
    }

    .a1,
    .a2 {
        flex-direction: column;
    }

    .s2 img {
        width: 70vw;
    }

    .servicesprovided {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .card {
        width: 30vw;
    }

    .card img {
        width: 20vw;
    }

    .languages {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .languages img {
        width: 30vw;
    }

    footer {
        grid-template-areas:
            'v1 v3'
            'v2 v2'
            'v5 v5'
            'v6 v6';
    }
}


@media screen and (max-width: 450px) {
    main h1 {
        max-width: 90vw;
    }

    .s1 {
        flex-direction: column;
        max-width: 80vw;
    }

    .s1 img {
        width: 30vh;
    }

    .s1 h5 {
        width: 80vw;
    }

    .card {
        width: 80vw;
    }
}