<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/vectors/landing/bpa_logo.png" type="image/png" sizes="any">
    <title>Bpa Labs : IT Services, Business Architecture Solutions, System Integrations &amp; Outsourcing</title>
    <meta name="description"
        content="Bpa Labs is one-stop destination for Software development, Quality Engineering, Cloud Services, Recruitment &amp; Consulting. We deliver innovative technology solutions around Business architecture ,  IoT, Automation, IT infrastructure &amp; System Integrations">

    <meta name="keywords"
        content="Work flow automation , Business process automation , Task automation, system integration , rpa , data migration,  business architecture ,it recruiting , it staffing , cloud services , coaching mentoring , agile training , agile certification">
    <link rel="stylesheet" href="../assets/css/template.css">
</head>

<body>
    <section class="nav">
        <img src="../assets/vectors/landing/bpa_logo.png" alt="BPA Labs" class="bpa_logo ">
        <nav id="nav1">
            <a href="../index.html">Home</a>
            <a href="./about.html">About Us</a>
            <a href="../index.html#services">Services &amp; Products</a>
        </nav>
        <button id="hamburger"><img src="../assets/vectors/landing/menu.png" id="ham-img" alt=""></button>
    </section>
    <div id="nav2">
        <a href="../index.html">Home</a>
        <a href="./about.html">About Us</a>
        <a href="../index.html#services">Services &amp; Products</a>
    </div>
    <main>
    </main>
    <footer>
        <div class="v1">
            <a href="/index.html">Home</a><br>
            <a href="/templates/about.html">About</a><br>
            <a href="/index.html#services">Services &amp; Products</a><br>
            <a href="/templates/contact.html">Contact Us</a><br>
        </div>
        <div class="v2">
            <a href="">Business Process Automation</a><br>
            <a href="">Quality &amp; Engineering Services</a><br>
            <a href="">Cloud Services</a><br>
            <a href="">IT Staffing &amp; Recruiting</a><br>
            <a href="">Agile Trainings &amp; Certifications</a><br>
            <a href="">Coaching &amp; Mentoring</a><br>
        </div>
        <div class="v3">
            <a href="">Privacy Policy</a><br>
            <a href="">Terms and Conditions</a> <br>
        </div>
        <div class="v5">
            <img src="/assets/vectors/landing/bpa_logo.png" class="logo" alt="BPA"> <br>
            <p>© Copyright 2024</p>
            <p>All Rights Reserved</p>
            <p>BPA Labs</p><br>
            <div class="socials">
                <a href="https://www.facebook.com/bpalabs"><img src="/assets/vectors/landing/facebook.png"
                        alt="facebook"></a>
                <a href="https://www.linkedin.com/company/bpa-labs-eu/"><img src="/assets/vectors/landing/linkedin.png"
                        alt="linkedin"></a>
                <a href="https://twitter.com/BpaLabs"><img src="/assets/vectors/landing/twitter.png" alt="twitter"></a>
                <a href="https://www.youtube.com/channel/UCD2Ylo1ontjJoeM-gnIVVTg?view_as=subscriber"><img
                        src="/assets/vectors/landing/youtube.png" alt="youtube"></a>
            </div>
        </div>
        <div class="v6">
            <p>Prague Czech Republic</p>
            <div>
                <a href="mailto:info@bpalabs.eu">info@bpalabs.eu</a>
            </div>
        </div>
    </footer>
    <script type="module" src="../assets/js/nav.js"></script>
</body>